body {
    width: 98%;
    background-color:silver;
}

.center {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

img {
    width: 200px;
    height: 200px;
    display: inline-block;
}

button {
    width: 100px;
    height: 50px;
    display: inline-block;
}

#edit {
    color: white;
    background-color: blue;
}

#delete {
    color: white;
    background-color: red;
}

#update {
    color: white;
    background-color: green;
}

.tag {
    color: white;
    background-color: blue;
}